html {
  min-height: 100%;
}

body {
  font-size: 16px;
  color: #fff;

  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(203, 96, 179, 1) 0%,
    rgba(113, 15, 137, 1) 50%,
    rgba(82, 40, 127, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(203, 96, 179, 1) 0%,
    rgba(113, 15, 137, 1) 50%,
    rgba(82, 40, 127, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(203, 96, 179, 1) 0%,
    rgba(113, 15, 137, 1) 50%,
    rgba(82, 40, 127, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.app-title {
  margin: 5rem;
}

.message-form {
  -webkit-box-shadow: 0px 0px 4px 6px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 4px 6px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.7);

  background-color: rgba(255, 255, 255, 0.2);

  padding: 3rem;
}

.messages-panel {
  border: 1px solid white;
  margin: 3rem 0;
  padding: 3rem;
}

.message-form__legend {
  color: #fff;
}
